nav {
  background-color: #F55A5A;
  display: flex;
  padding: 16px;
  justify-content: center;
}

nav span {
  color: white;
  margin-left: 7px;
}

.location-photo {
  border-radius: 5px;
  object-fit: cover;
  height: 168px;
  width: 125px;
}